.contenedor-puesto{
    margin-top: 100px;
    margin-bottom: 100px;
}
.imagen-puesto {
    height: 150px;
    border-radius: 10px;
    margin-top: 50px;
    margin-right: 50%;
    margin-left: 25%;
}

.imagen-sarita {
    border-radius: 10px;
}

.icono {
    color: #D1A063;
}

.sarita-descripcion {
    margin-top: 10%;
    margin-bottom: 50%;
}

@media (max-width: 1024px) {
    .imagen-puesto {
        width: 250px;
        margin-right: 50%;
        margin-left: 10%;
    }
}

@media (max-width: 768px) {
    .imagen-puesto {
        width: 100%;
        height: 400px;
        margin-right: 0%;
        margin-left: 0%;
        
    }
}

@media (max-width: 480px) {
    .imagen-puesto {
        width: 400px;
        margin: 0 auto;
    }

    .sarita-descripcion{
        text-align: justify;
    }
}

@media (max-width: 425px) {
    .imagen-puesto {
        width: 100%;
        height: 300px;
        margin: 0 auto;
    }
}

@media (max-width: 375px) {
    .imagen-puesto {
        width: 350px;
        margin: 0 auto;
    }

    .sarita-descripcion{
        text-align: justify;
    }
}

@media (max-width: 320px) {
    .imagen-puesto {
        width: 100%;
        height: 200px;
        margin: 0 auto;
    }

    .sarita-descripcion{
        text-align: justify;
    }
}