---
import Costura01 from '../../images/costuras.jpg'
import '../styles/CosturasPg.css'
---

<div class="container contenedor-costuras">
    <div class="row">
        <div class="py-2 col-xl-3 col-lg-6 col-md-6 col-sm-12">
            <div class="card mx-auto" style="width: 18rem;">
                <img
                    src={Costura01.src}
                    class="card-img-top img-servicio"
                    alt="..."
                />
                <div class="card-body">
                    <h5 class="card-title">PUESTO 15</h5>
                    <p class="card-text">
                        Some quick example text to build on the card title and
                        make up the bulk of the card's content.
                    </p>
                    <a href="/servicios/costuras/puesto-15" class="btn btn-warning">Ir</a>
                </div>
            </div>
        </div>

        <div class="py-2 col-xl-3 col-lg-6 col-md-6 col-sm-12">
            <div class="card mx-auto" style="width: 18rem;">
                <img
                    src={Costura01.src}
                    class="card-img-top img-servicio"
                    alt="..."
                />
                <div class="card-body">
                    <h5 class="card-title">PUESTO 5</h5>
                    <p class="card-text">
                        Some quick example text to build on the card title and
                        make up the bulk of the card's content.
                    </p>
                    <a href="#" class="btn btn-warning">Ir</a>
                </div>
            </div>
        </div>

        <div class="py-2 col-xl-3 col-lg-6 col-md-6 col-sm-12">
            <div class="card mx-auto" style="width: 18rem;">
                <img
                    src={Costura01.src}
                    class="card-img-top img-servicio"
                    alt="..."
                />
                <div class="card-body">
                    <h5 class="card-title">PUESTO 10</h5>
                    <p class="card-text">
                        Some quick example text to build on the card title and
                        make up the bulk of the card's content.
                    </p>
                    <a href="#" class="btn btn-warning">Ir</a>
                </div>
            </div>
        </div>

        <div class="py-2 col-xl-3 col-lg-6 col-md-6 col-sm-12">
            <div class="card mx-auto" style="width: 18rem;">
                <img
                    src={Costura01.src}
                    class="card-img-top img-servicio"
                    alt="..."
                />
                <div class="card-body">
                    <h5 class="card-title">PUESTO 20</h5>
                    <p class="card-text">
                        Some quick example text to build on the card title and
                        make up the bulk of the card's content.
                    </p>
                    <a href="#" class="btn btn-warning">Ir</a>
                </div>
            </div>
        </div>
    </div>
</div>
