---
import LogoMercado from "../../images/logo02-removebg-preview.png";
import "../styles/Navegacion.css";
---

<div class="contenedor-navegacion">
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="/"
                ><img
                    class="logo"
                    src={LogoMercado.src}
                    alt="
                Logo mercado"
                /></a
            >
            <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/"
                            >INICIO</a
                        >
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/nosotros">NOSOTROS</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a
                            class="nav-link dropdown-toggle"
                            href="/servicios"
                            role="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                        >
                            SERVICIOS
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="/servicios"
                                    >SERVICIOS</a
                                >
                            </li>
                            <li><hr class="dropdown-divider" /></li>
                            <li>
                                <a
                                    class="dropdown-item"
                                    href="/servicios/agentes">AGENTES</a
                                >
                            </li>
                            <li>
                                <a
                                    class="dropdown-item"
                                    href="/servicios/agentes">VERDURAS</a
                                >
                            </li>
                            <li>
                                <a
                                    class="dropdown-item"
                                    href="/servicios/agentes">FRUTAS</a
                                >
                            </li>
                            <li>
                                <a
                                    class="dropdown-item"
                                    href="/servicios/agentes">CARNES ROJAS</a
                                >
                            </li>
                            <li>
                                <a
                                    class="dropdown-item"
                                    href="/servicios/agentes">POLLOS</a
                                >
                            </li>
                            <li>
                                <a
                                    class="dropdown-item"
                                    href="/servicios/agentes">PESCADOS</a
                                >
                            </li>
                            <li>
                                <a
                                    class="dropdown-item"
                                    href="/servicios/agentes">ABARROTES</a
                                >
                            </li>
                            <li>
                                <a
                                    class="dropdown-item"
                                    href="/servicios/agentes">LIBRERIAS</a
                                >
                            </li>
                            <li>
                                <a
                                    class="dropdown-item"
                                    href="/servicios/agentes">PELUQUERIAS</a
                                >
                            </li>
                            <li>
                                <a
                                    class="dropdown-item"
                                    href="/servicios/agentes">JUGUERÍA</a
                                >
                            </li>
                            <li>
                                <a
                                    class="dropdown-item"
                                    href="/servicios/agentes">ZAPATOS</a
                                >
                            </li>
                            <li>
                                <a
                                    class="dropdown-item"
                                    href="/servicios/agentes">ZAPATERÍAS</a
                                >
                            </li>
                            <li>
                                <a
                                    class="dropdown-item"
                                    href="/servicios/agentes">PARILLAS</a
                                >
                            </li>
                            <li>
                                <a
                                    class="dropdown-item"
                                    href="/servicios/agentes">COSTURAS</a
                                >
                            </li>
                            <li>
                                <a
                                    class="dropdown-item"
                                    href="/servicios/agentes">JUGUETES</a
                                >
                            </li>
                            <li>
                                <a
                                    class="dropdown-item"
                                    href="/servicios/agentes">ROPAS</a
                                >
                            </li>
                            <li>
                                <a
                                    class="dropdown-item"
                                    href="/servicios/agentes">TECNOLOGÍA</a
                                >
                            </li>
                            <li>
                                <a
                                    class="dropdown-item"
                                    href="/servicios/agentes">RESTAURANTES</a
                                >
                            </li>
                            <li>
                                <a
                                    class="dropdown-item"
                                    href="/servicios/agentes">OTROS</a
                                >
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/anuncios">ANUNCIOS</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/contactanos">CONTÁCTANOS</a>
                    </li>
                </ul>
                
            </div>
        </div>
    </nav>
</div>
