---
import CostureriaSarita from "../../images/costureria-sarita.png";
import Sarita from '../../images/costuras.jpg'
import "../styles/Puesto15.css";
---

<div class="contenedor-puesto container">
    <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 ">
                    <img
                        class="imagen-puesto"
                        src={CostureriaSarita.src}
                        alt="Costureria Sarita"
                    />
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12">
                    <p class="text-center">
                        <i class="bi bi-phone icono"></i>&emsp;951-742-856
                    </p>
                </div>
                <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12">
                    <p class="text-center">
                        <i class="bi bi-envelope icono"></i>&emsp;sarita@email.com
                    </p>
                </div>
            </div>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
            <p class="sarita-descripcion">
                Blossom offers everything you need to live the laid-back California lifestyle in a Golden State of Mind. With roots in action sports, fashion, art and music, this shop serves up the latest styles for men and women from top brands including Bullhead, Volcom, Billabong, Hurley, Roxy, Diamond Supply Co., Nike SB, RVCA, Vans, Modern Amusement, Neff, Young & Reckless, Riot Society, Quiksilver, Crooks and Castles, Rook, and more!
            </p>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
            <img class="w-100 imagen-sarita" src={Sarita.src} alt="Sarita">
        </div>
    </div>
</div>
